---
layout: base
title: Home
permalink: '/'
heading: A Mildly Opinionated Eleventy Starter
---

<div class="container-xxl">
    <div class="col-md-9 px-3 mx-auto">
        <div class="text-center mt-20 mb-12">
            <h1 class="display-3 ls-tight">
                <span class="d-inline-flex text-transparent bg-clip-text gradient-bottom-right start-indigo-500 end-cyan-500 position-relative">Eleventy</span> Starter Kit
            </h1>
            <p class="text-lg font-semibold mt-5 px-lg-32">
                A starter template for websites using Bootstrap 5 and Webpixels CSS next to the Eleventy static site generator.
            </p>
            <div class="mx-sm-n2 mt-7">
                <a href="https://github.com/webpixels/css" class="btn btn-sm btn-neutral" target="_blank">
                    <i class="bi bi-github me-2"></i>
                    <span>Github</span>
                </a>
            </div>
        </div>
        <div class="row g-6 g-lg-6">
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Eleventy
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                A simpler static site generator that transforms a directory of templates into HTML.
                            </p>
                            <footer>
                                <a href="https://www.11ty.dev/docs/" class="font-semibold link-primary stretched-link">Documentation -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Bootstrap 5
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                The world’s most popular framework for building responsive, mobile-first sites.
                            </p>
                            <footer>
                                <a href="https://getbootstrap.com/docs/" class="font-semibold link-primary stretched-link">Documentation -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Webpixels CSS
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                Utility and component-centric Design System based on Bootstrap 5 for fast, responsive UI development.
                            </p>
                            <footer>
                                <a href="https://webpixels.io/docs/css/1.0/installation" class="font-semibold link-primary stretched-link">Documentation -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="position-relative rounded-4 shadow-4-hover bg-surface-secondary">
                    <div class="p-5 p-md-5 p-xl-10">
                        <section>
                            <header>
                                <h1 class="h3 ls-tight mb-4">
                                    Webpixels Components
                                </h1>
                            </header>
                            <p class="text-muted mb-5">
                                Explore over 500 fully responsive HTML components, carefully designed for specific use-cases, like marketing, application, and more.
                            </p>
                            <footer>
                                <a href="https://webpixels.io/components/" class="font-semibold link-primary stretched-link">Start Using -></a>
                            </footer>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <hr class="my-8">

        <p class="text-muted text-sm font-semibold text-center mb-8">
            Made with <i class="bi bi-heart-fill text-danger"></i> by <a href="https://webpixels.io/">Webpixels</a>
        </p>
    </div>
</div>
